name: CI

on:
  push:
    branches: [ feature/eureka_server, feature/user ]
  pull_request:
    branches: [ main, develop ]
    
  workflow_dispatch:

permissions:
  contents: read
  
jobs:
  CI:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    
    - name: grant privileges to gradlew
      run: chmod +x ./gradlew

    - name: run test
      run: ./gradlew test

    - name: run build
      run: ./gradlew clean build -x test
